html{
    background-color: #000000;
}
/*background color black-*/
html {
    font-family: sans-serif;
}
/*le style d'ecriture*/
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*grandeur d'ecriture*/
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}
/*toute la page sous forme des blocks*/
title {
    display: none;
}
head {
    display: none;
}
header img {
    width: 268px;
    height: 33px;
}
/*header and with of image*/
img {
    vertical-align: middle;
}
img {
    border: 0;
}
/*desactiver la bordure d'image*/
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
a {
    color: #337ab7;
    text-decoration: none;
}
/*couleur l'ecriture bleu et effacer la ligne sous le lien*/ 
#About, #Career:hover, #Departments:hover {
    color: #00b39b;
    text-decoration: none;
}
/*couleur l'ecriture vert et effacer la ligne sous le lien*/ 
#Career, #Departments {
    color: #ababab;
}
/*couleur d'ecriture beige*/
a {
    background-color: transparent;
}
a {
    background-color: transparent;
}
.leadsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}
/*faire les block alligner*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
/*style d'ecriture et grandeur et couleur*/
#headerlogo {
    width: 40px;
    aspect-ratio: auto 40 / 40;
    height: 40px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}
#headerp {
    color: #00b39b;
    font-size: 3.29rem;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
}
p {
    margin: 0 0 10px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.p1 {
    padding-right: 30px;
}p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
div {
    display: block;
}
.twoparagraphs {
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 260px;
    padding-right: 280px;
    width: 100%;
    justify-content: space-between;
}
.forsection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.375em 1.25em 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}
/*alligner les blocks */
.for1 {
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}
div {
    display: block;
}
.forsection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.375em 1.25em 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}
.forsection img {
    width: 25px;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.for1 #for1title, .for2 #for2title, .for3 #for3title {
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    font-family: Work Sans, Arial, sans-serif;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.for1 select {
    background-color: #00ccb1;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
button, select {
    text-transform: none;
}
option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.forsection img {
    width: 25px;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.for1 #for1title, .for2 #for2title, .for3 #for3title {
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    font-family: Work Sans, Arial, sans-serif;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}